.contenedorContacto{
    background-color: #282c34;
    color: white;
    font-size: 16px;
}

.tituloContacto {
    font-size: 30px;
}

.btnContacto {
    display: flex;
    background: transparent;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 300px;
    height: 40px;
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    transition: all 0.5s ease-in-out;
}

.btnContacto:hover {
    color: white;
    background: #ec4e39;
    transition: all 0.5s ease-in-out;
}