.contenedorContacto{
    background-color: #282c34;
    color: white;
    font-size: 16px;
}

.tituloContacto {
    font-size: 30px;
}

.btnContacto {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 300px;
    height: 40px;
    color: black;
    background: white;
    border: #282c34;
    border-radius: 30px;
}