.textInfo{
    font-family: 'Courier New', monospace;
    padding: 30px 30px 30px 30px;
    font-size: 20px;
    border: 1px solid #ddd;
    transition: font-size 1s ease-in-out, font-weight 1s ease-in-out, transform 0.5s ease-in-out, color 0.5s ease-in-out;
    border-radius: 10px;
    transform-origin: center bottom;
}

.text {
  color: #ec4e39;
  font-weight: 30px;
}

.titleInfo{
    color: white;
    display: flex;
    font-size: 40px;
    justify-content: center;
    padding: 15px;
}

.contenedorInfo{
    background-color: #282c34;
    color: white;
    padding-bottom: 100px ;
}


  .row{
    --bs-gutter-x: 0 !important;
  }

