.textInfo{
    font-family: 'Courier New', monospace;
    padding: 30px 30px 30px 30px;
    font-size: 18px;
    border: 1px solid #ddd;
    transition: font-size 1s ease-in-out, font-weight 1s ease-in-out, transform 0.5s ease-in-out, color 0.5s ease-in-out;
    border-radius: 5px;
    transform-origin: center bottom; 
}

.titleInfo{
    color: white;
    display: flex;
    justify-content: center;
    padding: 15px;
}

.contenedorInfo{
    background-color: #282c34;
    color: white;
    padding-bottom: 20px ;
}
.main {
    height: 100vh;
}
 .mask {
    color: #afa18f;
    font-size: 32px;
    line-height: 33px;
    cursor: default;
    font-weight: 10px;
  }
  
  .mask {
    position: absolute;
    mask-image: url('../../public/images/mask.svg');
    background: #ec4e39;
    mask-repeat: no-repeat;
    mask-size: 40px;
    color: black;
    margin-top: -14px;
  }

  .row{
    --bs-gutter-x: 0 !important;
  }

