
.nav-link{
    margin: 0 !important;
}

.btnLink{
    position: relative;
    cursor: pointer;
    border: none;
    padding: 15px;
    color: black;
    transition: border-bottom 0.1s ease;
}

.btnLink:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: #ec4e39;
    transition: width 0.4s ease-in-out;
}

.btnLink:hover:before {
    width: 100%;
}

.closeButton {
    padding: 15px 15px 15px 20px;
    cursor: pointer;
}