.proyectosContainer{
    padding-top: 20px;
    background-color: #282c34;
    color: white;
}

.titleProyectos{
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}


.fixed-size-image {
    max-width: 400px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.linkCode{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    border-radius: 30px;
    font-size: 15px;
    color: white;
    border: 1px solid white;
    transition: all 0.5s ease-in-out;
}

.linkCode:hover{
    background: white;
    color: black;
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
}

.javaIcon, .mysqlIcon, .pythonIcon, .djangoIcon, .htmlIcon, .cssIcon, .javascriptIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 15px;
    background: #db903a;
    border: 1px solid white;
    width: 150px;
    height: 40px;
    margin-right: 10px;
}

.mysqlIcon{
    background: #4737ff;
}

.pythonIcon{
    background: #4737ff;
}

.djangoIcon{
    background: #37ff84;
}

.htmlIcon{
    background: #374bff;
}

.cssIcon{
    background: #ff7a37;
}

.javascriptIcon{
    background: #ffac37;
}




