.proyectosContainer{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 20px;
    background-color: #282c34;
    color: white;
    font-size: 30px;
    
}

.titleProyectos{
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }