.proyectosContainer{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 20px;
    background-color: #282c34;
    color: white;
    font-size: 30px;
    
}

.titleProyectos{
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor {
    width: 400px;
    height: 200px;
    background: white;
    border-radius: 20px;
    border: 1px solid white;
}
