
.selectorSkillsContainer {
  font-family: 'Roboto', sans-serif;
  background-color: #282c34;
  padding: 60px;
  color: white;
}

.skillsList {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.skillsListItem {
  margin-bottom: 10px;
  padding: 8px;
  background-color: #eee;
  border-radius: 5px;
  cursor: pointer;
}

.infoContainer {
  padding: 20px;
  color: white;
}

.titleSkills{
  color: white;
  padding: 30px;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedorSkills{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  color: white;
  padding: 40px 20px 20px 50px;
}

.interseccion{
  padding-top: 30px;
  content: '';
  color: white;
  background: white;
  width: 1px;
  left: 50%;
}

.child{
  position: relative;
  margin: 20px;
  border-radius: 20px;

}

.content {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  padding: 10px;
  background: white;
  border-radius: 50%;
  transition: background-color 0.9s ease, transform 0.5s ease;
}


.contentSkills {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 30px;
  font-size: 16px;
  font-family: 'Courier New', monospace;
  width: 400px;
  color: black;
  background: white;
  border-radius: 20px;
}

/* .contenedorSkill{
  display: flex;
  justify-content: center;
  align-items: center;
}

.skillBar{
  width: 160px;
  height: 160px;
  position: relative;
}

.outer{
  height: 160px;
  width: 160px;
  padding: 20px;
  border-radius: 50%;
}

.inner{
  height: 120px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

#number{
  font-weight: 600;
  color: black;
  font-size: 30px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  padding: 50px;
}

#number:hover{
  opacity: 1;
}

.circle{
  stroke: cornflowerblue;
  stroke-width: 10px;
  stroke-dasharray: 450;
  stroke-dashoffset: 450;
  stroke-linecap: round;
  animation: anim 2s linear forwards;
}

@keyframes anim{
  100% {
      stroke-dashoffset: 157.5;  
  }
}

.mask{
  position: absolute;
} */







