* {
    cursor: none;
}

.flare {
    position: fixed;
    border: 5px solid #e1e1e1;
    border-radius: 50%;
    mix-blend-mode: screen;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 999999 !important;
    background-color: #0000005e;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  }
  
  /* We need to remove this custom cursor in mobile devices */
  @media screen and (max-width: 768px) {
    .flare {
      width: 0;
      height: 0;
      transition: width 0.2s ease-in-out, height 0.2s ease-in-out,
        opacity 0.2s ease-in-out;
    }
  }
  .flare.pointer {
    opacity: 0 !important;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out, opacity 0.2s ease-in-out;
  }

.nav-link{
  margin: 0 !important;
}