
:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

* {
    cursor: none;
    margin: 0;
    
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* @media (max-width: 767px){
  body, html {
    overflow-x: hidden;
  }
} */

.flare {
    position: fixed;
    border: 4px solid #ec4e39 !important;
    border-radius: 50%;
    mix-blend-mode: screen;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 999999 !important;
    background-color: transparent !important;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  }
  
  /* We need to remove this custom cursor in mobile devices */
  @media screen and (max-width: 767px) {
    .flare {  
      display: none;
      width: 0;
      height: 0;
    }
  }
  .flare.pointer {
    opacity: 0 !important;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out, opacity 0.2s ease-in-out;
  }

.iconArrow{
  background-color: black;
  height: 40px;
  width: 40px;
  position: absolute;
  display: flex;
  align-items: end;
  justify-content: center;
}
    
.nav-link{
  margin: 0 !important;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-text{
  display: flex;
  align-items: center;
  justify-content: center;
}

.githubIcon, .linkedinIcon {
  transition: transform 0.5s ease-in-out;
}

.githubIcon:hover, .linkedinIcon:hover {
  transform: scale(1.2);
}

.btn-scrolltop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: red;
  padding: 15px 20px;
  color: white;
  border-radius: 100%;
  cursor: pointer;
  transform: translateY(100px);
}

.btn-scrolltop-on{
  transform: translateY(0);
}